<button (click)="createNewProduct()">Create</button>
<button (click)="onShowDetails(2323232323)">Show error</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetails($event)"
  ></app-product>
  <button (click)="loadMoreProducts()"> Load More</button>
</div>
<div class="product-detail" [class.active]="showProductDetails">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDeatil()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" [alt]="productChosen.title">
      </ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">DELETE</button>
  </div>
</div>
